@import 'index.css';

.app-header {
  padding: 0 2.5% ;
}
.app-footer {
  margin-top: 2em;
  border-top: 1px solid #ddd;
  padding: 1.5em 2.5%;
  color: #bbb;
}
.algorithm-card {
  padding: 0 2.5% .25rem;
  margin: 1.5rem 0 2em;
  background-color: #fdfcf9;
}
.algorithm-name {
  width: 75%;
}
.algorithm-image {
  border: 1px solid #ddd;
  padding: .5rem;
  min-width: 200px;
  width: 25rem;
  max-width: 100%;
}
.sectionTitle {
  font-weight: bold;
}
.bigO {
  color: rgb(255, 73, 200);
}
.date {
  color: rgb(255, 174, 0);
}
.pro {
  color: rgb(40, 202, 0)
}
.con {
  color: rgb(255, 65, 65);
}
.stable {
  color: rgb(136, 132, 152);
}

.sort-form {
  margin-top: 1rem;
}
fieldset {
  border-radius: 5px;
  border: 1px solid #684400;
}
.sort-label {
  display: block;
  margin-bottom: 1rem;
  padding: .5rem;
}
.sort-label:hover {
  background-color: rgb(253, 239, 207);
}
input {
  display: inline-block;
  margin-right: .75rem;
}
.filter-form {
  margin: 1.5rem;
}
.count {
  font-size: 1.25rem;
  color: var(--main-blue,green);
}
.count span {
  font-weight: bold;
  color: var(--main-brown, tan);
}