body {
  margin: .5rem 2.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.75em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color: #684400;
  font-size: 3em;
  border-bottom: 1px solid #e7dbc7;
  padding-bottom: .25rem;
}

h2,h3,h4,h5,h6 {
  color: #0090e4;
  margin: .25rem 0;
}
a[href] {
  color: #029b7a;
}
main {
  padding: .5rem 2.5%;
}
figure {
  margin: 0;
}