:root {
  --main-brown: #684400;
  --main-blue: #0090e4;
}
body {
  margin: .5rem 2.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.75em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  background-color: var(--main-brown, #684400);
  color:#fefefe;
  font-size: 3em;
  padding: 1rem 2.5% 1.5rem;
  margin: 1rem -1.25% 0;
}

h2,h3,h4,h5,h6 {
  background-color: var(--main-blue, #0090e4);
  color:#fefefe;
  margin: .25rem 0 .35rem -2.5%;
  padding:.125em 1.25%;
}
a[href] {
  color: #01a884;
}
main {
  padding: 0 2.5%;
}
figure {
  margin: 0;
}